{% load static %}
<!-- Start Proerty header  -->
<section id="aa-property-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-property-header-inner">
          <h2>REFERANSLAR</h2>
          <ol class="breadcrumb">
            <li><a href="/">ANA SAYFA</a></li>
            <li class="active">Referanslar</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Proerty header  -->
<section id="aa-client-brand">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-client-brand-area">
          {{ setting.references|safe }}
          <!-- <ul class="aa-client-brand-slider">
            <li>
              <div class="aa-client-single-brand">
                <img src="img/client-brand-1.png" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="img/client-brand-2.png" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="img/client-brand-3.png" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="img/client-brand-5.png" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="img/client-brand-4.png" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="img/client-brand-1.png" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="img/client-brand-2.png" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="img/client-brand-3.png" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="img/client-brand-5.png" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="img/client-brand-4.png" alt="brand image">
              </div>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Client brand -->

<!-- Client brand -->
<!-- <section id="aa-client-brand">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-client-brand-area">
          <ul class="aa-client-brand-slider">
            {{ setting.references|safe }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- / Client brand -->
