{% extends "homepage.html" %}

{% block title %} {{setting.title}}-İletişim {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block head %}<link rel="shortcut icon" href="{{setting.icon.url}}"> {% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block menu_section %}
{% include "menu_section.html" %}
{% endblock %}

{% block contact %}
{% include "contact.html" %}
{% endblock %}
