{% extends "homepage.html" %}

{% block title %} Index e-ticaret {% endblock %}
{% block keywords %} Index keywords {% endblock %}
{% block description %} Index description {% endblock %}

{% block menu_section %}
  {% include "menu_section.html" %}
{% endblock %}

{% block slider %}
  {% include "slider.html" %}
{% endblock %}

{% block about %}
  {% include "about.html" %}
{% endblock %}

{% block last_rentals %}
  {% include "last_rentals.html" %}
{% endblock %}

{% block client_says %}
  {% include "client_says.html" %}
{% endblock %}

{% block client_brands %}
  {% include "client_brands.html" %}
{% endblock %}
