{% extends "homepage.html" %}

{% block title %} {{setting.title}} {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block head %} <link rel="shortcut icon" href="{{setting.icon.url}}"> {% endblock %}

{% block menu_section %}
  {% include "menu_section.html" %}
{% endblock %}

{% block slider %}
  {% include "slider.html" %}
{% endblock %}

{% block rentals %}
  {% include "rentals.html" %}
{% endblock %}

{% block client_says %}
  {% include "client_says.html" %}
{% endblock %}

{% block client_brands %}
  {% include "client_brands.html" %}
{% endblock %}
