{% load static %}
<!-- Start menu section -->
  <section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->
          <!-- Text based logo -->
           <a class="navbar-brand aa-logo" href="/"> <span>Kbü</span> <span>Araç</span> <span>Kiralama</span></a>
           <!-- Image based logo -->
           <!-- <a class="navbar-brand aa-logo-img" href="{% static "index.html" %}"><img src="img/logo.png" alt="logo"></a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
            <li class="active"><a href="/">ANA SAYFA</a></li>
             <li class="dropdown">
              <a class="dropdown-toggle" href="/araclar">ARAÇLAR</a>
            </li>
            <li><a href="/referanslarimiz">REFERANSLARIMIZ</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="/hakkimizda">HAKKIMIZDA</a>
              <!-- <ul class="dropdown-menu" role="menu">
                <li><a href="{% static "blog-archive.html" %}">BLOG</a></li>
                <li><a href="{% static "blog-single.html" %}">BLOG DETAILS</a></li>
              </ul> -->
            </li>
            <li><a href="/iletisim">İLETİŞİM</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </section>
  <!-- End menu section -->
