{% load static %}
<!-- Start Properties  -->
<section id="aa-properties">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-properties-content">
          <!-- Start properties content body -->
          <div class="aa-properties-details">
            <div class="aa-properties-details-img">
              <img src="{{ cardetail.resim.url }}" alt="img">
              {% for rs in images %}
              <img src="{{ rs.resim.url }}" alt="img">
              {% endfor %}
            </div>
            <div class="aa-properties-info">
              <h2>{{cardetail.marka}} {{cardetail.model}}</h2>
              <span class="aa-price">{{cardetail.fiyat}}</span>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatibus veniam non voluptate, ipsa eius magni aliquid ratione sit, odio reprehenderit in quis repudiandae dolor.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur, veritatis, ducimus in aliquam magnam voluptatibus ullam libero fugiat temporibus at, aliquid explicabo placeat eligendi, assumenda magni saepe eius
                consequuntur.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dicta aliquid, autem, cum, impedit nostrum, rem molestias quisquam ab iure enim totam? Itaque esse ut adipisci officiis nulla repellendus ratione dolore, iste ex
                doloribus tenetur eos provident quam quasi maxime.</p>
              <br>
              <h4>Araç Özellikleri</h4>
              <ul>
                <li>Park Sensörü</li>
                <li>Park Asistanı</li>
                <li>Bluetooth - Telefon</li>
                <li>USB / AUX</li>
                <li>Hız Sabitleyici</li>
                <li>Çocuk Kilidi</li>
            </div>
            <!-- Properties social share -->
            <div class="aa-properties-social">
              <ul>
                <li>Paylaş</li>
                <li><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- comment threats -->
        <div class="col-md-6">
          <div class="aa-comments-area">
            <br>
            <h2>Yorumlar</h2>
            <div class="comments">
              <ul class="commentlist">
                {% for rs in comments %}
                <br>
                <br>
                <li>
                  <div class="media">
                    <div class="media-body">
                      <h4 class="author-name"><b>{{rs.name}}</b></h4>
                      <span class="comments-date"> {{ rs.create_at }}</span>
                      <p><b>{{ rs.subject }}</b></p>
                      <p>{{ rs.comment }}</p>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div id="respond">
            <h2 class="reply-title">Yorum Ekleyin</h2>
            <br>
            <br>
            {% if user.id is not None %}
            <form id="commentform" method="post" action="/cars/addcomment/{{ cardetail.id }}/">
              {% csrf_token %}
              <p class="comment-form-author">
                <label for="name">İsim <span class="required">*</span></label>
                <input type="text" required="required" aria-required="true" value="" name="name">
              </p>
              <p class="comment-form-email">
                <label for="subject">Konu </label>
                <input type="text" value="" name="subject">
              </p>
              <p class="comment-form-comment">
                <label for="comment">Yorum <span class="required">*</span></label>
                <textarea required="required" aria-required="true" rows="8" cols="45" name="comment"></textarea>
              </p>
              <p class="form-submit">
                <input type="submit" value="Yorumu Gönder" class="aa-browse-btn" name="submit">
              </p>
            </form>
            {% else %}
            Yorum eklemek için <a style="color:cornflowerblue;" href="/uye_giris">giriş</a> yapınız...
            {% endif %}
          </div>
        </div>
        <!-- Respond box -->
        <div class="col-md-6">
          <div id="respond">
            <br>
            <h2>Rezervasyon</h2>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <br>
            <h2 class="reply-title">Rezervasyon Yapın</h2>
            <br>
            <br>
            {% if user.id is not None %}
            <form id="reservationform" method="post" action="/cars/addreservation/{{ cardetail.id }}/">
              {% csrf_token %}
              <p class="comment-form-author">
                <label for="name">İsim </label>
                <input type="text" required="required" aria-required="true" value="" name="name">
              </p>
              <p class="comment-form-email">
                <label for="email">E-Mail </label>
                <input type="text" value="" required="required" aria-required="true" name="email">
              </p>
              <p class="comment-form-author">
                <label for="phone">Telefon </label>
                <input type="text" value="" required="required" aria-required="true" name="phone">
              </p>
              <p class="comment-form-author">
                <label for="address">Adres </label>
                <input type="text" value="" required="required" aria-required="true" name="address">
              </p>
              <p class="comment-form-author">
                <label for="fiyat">Günlük Ücret: {{ cardetail.fiyat }}</label>
              </p>
              <br>
              <p class="comment-form-author">
                <label for="checkin">Teslim Alış Tarihi </label>
                <input type="date" value="" required="required" aria-required="true" name="checkin">
              </p>
              <br>
              <p class="comment-form-author">
                <label for="checkout">Teslim Ediş Tarihi </label>
                <input type="date" value="" required="required" aria-required="true" name="checkout">
              </p>
              <br>
              <p class="form-submit">
                <input type="submit" value="Rezervasyonu Tamamla" class="aa-browse-btn" name="submit">
              </p>
            </form>
            {% else %}
            Rezervasyon eklemek için <a style="color:cornflowerblue;" href="/uye_giris">giriş</a> yapınız...
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
<!-- / Properties  -->
