{% load static %}
<!-- Start Properties  -->
<section id="aa-properties">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="aa-properties-content">
          <!-- Start properties content body -->
          <div class="aa-properties-details">
            <div class="aa-properties-info">
              <h2>Üye Paneli</h2>
              <br>
              <ul>
                <a href="/user">
                  <li>Üye Bilgileri</li>
                </a>
                <a href="#">
                  <li>Rezervasyonlar</li>
                </a>
                <a href="/yorumlar">
                  <li>Yorumlar</li>
                </a>
                <a href="/logout">
                  <li>Çıkış</li>
                </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <aside class="aa-properties-sidebar">
          <!-- Start Single properties sidebar -->
          {% for rs in reservations %}
          <div class="aa-properties-single-sidebar">
            <h3>Araç: {{rs.car.marka}} {{rs.car.model}}</h3>
            <div class="media">
              <div class="media-left">
                <a>
                  <img height="250" width="250" src="{{ rs.car.resim.url }}" alt="img">
                </a>
              </div>
              <div class="media-body">
                <span>İsim: {{ rs.user.first_name }} {{ rs.user.last_name }}</span><br><br>
                <span>E-mail: {{ rs.email }}</span><br><br>
                <span>Telefon: {{ rs.phone }}</span><br><br>
                <span>Adres: {{ rs.address }}</span><br><br>
                <span>Teslim Alış: {{ rs.checkin }}</span><br><br>
                <span>Teslim Ediş: {{ rs.checkout }}</span><br><br>
                <span>Durum: {{ rs.status }}</span><br><br>
              </div>
            </div>
          </div>
          <span></span>
          {% endfor %}
        </aside>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
