{% extends "homepage.html" %}

{% block title %} Rezervasyonlar {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block head %}<link rel="shortcut icon" href="{{setting.icon.url}}"> {% endblock %}

{% block menu_section %}
{% include "menu_section.html" %}
{% endblock %}

{% block reservations %}
<!-- Start Property header  -->
<section id="aa-property-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-property-header-inner">
          <h2>ÜYE PANELİ</h2>
          <ol class="breadcrumb">
            <li><a href="/">ANA SAYFA</a></li>
            <li class="active">Üye Paneli</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Property header  -->
{% include "reservations.html" %}

{% endblock %}
